{{!-- <div class="container">
    <div class="row">
        <div class="col-md-12">
            {{>nav}}
        </div>
    </div>
    <div class="row py-2">
        <div class="col-md-12">
            {{>content}}

        </div>
    </div>
</div> --}}